@page "/profile"
@using AccountDataSerializer
@using ProfileClasses
@using System.Collections.ObjectModel
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@inject CurrentUserContainer CurrentUserContainer
@inject ExceptionLogger Logger
@implements IDisposable
<h3> </h3>
@if (CurrentUserContainer.UserId != null)
{
    <h3> Test </h3>
    <MudButton @onclick = "Logout">Logout</MudButton>
}
else
{
    <MudButton @onclick="Login" Variant="Variant.Filled"> Login </MudButton>
    <MudButton @onclick="Register" Variant="Variant.Filled"> Register</MudButton>
}



@code {
    public void Register()
    {
        NavigationManager.NavigateTo("chooseaccounttype");
        StateContainer.TempAccount = new();
        StateContainer.TempProfile = new();
    }

    public void Logout()
    {
        CurrentUserContainer.Logout(Logger);
        NavigationManager.NavigateTo("profile");
    }

    public void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
