@page "/profile"
@using AccountDataSerializer
@using ProfileClasses
@using System.Collections.ObjectModel
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@implements IDisposable
<h3> </h3>
@if(true)
{
    <MudButton Variant="Variant.Outlined" OnClick="Login"> Login </MudButton>
    <MudButton Variant="Variant.Outlined" OnClick="Register"> Register</MudButton>
}


@code {


    public void Register()
    {
        NavigationManager.NavigateTo("createaccount");
    }

    public void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
